.metlife {
  .desidev {
    &-logo {
      border-radius: 50%;
      width: 58px;
      padding: 8px;
      box-shadow: 0 2px 22px 0 rgb(0 0 0 / 20%), 0 2px 30px 0 rgb(0 0 0 / 35%);
      @include theme {
        background: variable("primary-dark");
      }
      margin-right: 8px;
    }
  }

  .welcome {
    &-page {
      min-height: 100vh;
    }
    &-content {
      min-height: 100vh;
      &-left {
        align-items: center;
      }
      &-right {
        align-items: flex-start;
        @include theme {
          background: variable("background-color");
        }
      }
      &-section {
        padding: 32px 84px;
      }
    }
    &-heading {
      margin-bottom: 48px;
    }
    &-section {
      margin-bottom: 12px;
      text-align: left;
      line-height: 1.4;
      &-list {
        &-icon {
          color: #fff;
        }
      }
    }
    &-footer {
      margin-top: 48px;
      font-style: italic;
    }
  }
}
