//
// Fonts
// --------------------------------------------------
// Override fonts
//

// stylelint-disable font-family-name-quotes
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/open-sans-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("#{$font-path}/open-sans-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("#{$font-path}/open-sans-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("#{$font-path}/open-sans-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("#{$font-path}/open-sans-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("#{$font-path}/open-sans-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */
}

/* open-sans-600 (Medium) - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path}/open-sans-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("#{$font-path}/open-sans-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("#{$font-path}/open-sans-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("#{$font-path}/open-sans-600.woff")
      format("woff"),
    /* Modern Browsers */ url("#{$font-path}/open-sans-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("#{$font-path}/open-sans-600.svg#OpenSans")
      format("svg");
  /* Legacy iOS */
}

/* open-sans-800 (Bold) - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("#{$font-path}/open-sans-800.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("#{$font-path}/open-sans-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("#{$font-path}/open-sans-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("#{$font-path}/open-sans-800.woff")
      format("woff"),
    /* Modern Browsers */ url("#{$font-path}/open-sans-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("#{$font-path}/open-sans-800.svg#OpenSans")
      format("svg");
  /* Legacy iOS */
}
