//
// Icons as an Image
// --------------------------------------------------
// Refer icon name and size
//
@mixin iconSize($icon, $size) {
  @include preload-background-image("#{$image-path}/#{$icon}");
  background-repeat: no-repeat;
  background-size: 100%;
  width: $size;
  height: $size;
  display: inline-flex;
}
